/* Resetar configurações */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Estilos Gerais */
body {
    font-family: "Ropa Sans", sans-serif;
}

/* CONTAINER GERAL*/
.container {
    /*border: 2px solid rgb(74, 80, 80);*/
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
.header {
    box-shadow: 1px 1px 10px #aaa;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

/* HEADER LOGO*/
.header__logo {
    display: flex;
}

.header__logo img {
    width: 60px;
    margin-right: 5px;
}

.header__text {
    color: #aaa;
    font-size: 0.7rem;
}

/* Section */

/* Section Hero */
.hero {
    margin-top: 90px;
}

.hero .container {
    height: 400px;
    max-width: 960px;
    background: url(../img/carrossel.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: 1px 1px 5px #000;
}

.setadireita {
    width: 50px;
    height: 40px;
    margin-top: -220px;
    color: white;
    margin-left: 1090px;
    position: absolute;
}

.setaesquerda {
    width: 50px;
    height: 40px;
    margin-top: -220px;
    margin-left: 210px;
    color: white;
    position: absolute;
}

/* SALES */
.sales {
    margin-top: 40px;
}

.sales .container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* MEDIA QUERY*/
@media (min-width: 1200px) {
    .sales .container {
        justify-content: space-between;
        width: 100%;
        max-width: 960px;
    }
}

.sales__card {
    width: 300px;
    margin: 0 10px;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 2px;
}

.card__image {
    width: 100%;
    display: flex;
}

.card__image img {
    height: 170px;
    width: 100%;
}

.card__info {
    padding: 30px;
    background: #eee;
}

.card__info p {
    color: #555;
    font-size: 0.7rem;
}

.project__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info__price {
    font-size: 1.5rem;
    color: #888;
}

.info__status {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 3px 15px;
}

.status-new {
    background: #dc9730;
}

.status-sale {
    background: #51d275;
}

/* Section Styles */
/* .styles {
    border: 40px solid red;
} */
@media (min-width: 1200px) {
    .styles .container {
        justify-content: space-between;
        width: 100%;
        max-width: 960px;
    }
}

.card:first-child h2 {
    color: #888;
    text-shadow: none;
}

.card h2 {
    color: #fff;
    font-size: 28px;
    text-shadow: 1px 1px 1px #aaa;
    z-index: 2;
}

/* Primeiro elemento */
.card + div {
    box-shadow: 1px 1px 5px #000;
}

.style-1 {
    background: #fff;
    /* background-size: cover; */
}

.style-2 {
    background: url("../img/industrial.png") no-repeat center left;
    background-size: cover;
    position: relative;
    overflow: hidden;

    /* z-index: -999; */
}

.style-2::before {
    border-radius: 3px;
    content: "";
    position: absolute;
    background: url("../img/industrial.png") no-repeat center left;
    filter: sepia(0%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    transition: filter 0.2s linear;
    transition: transform 0.2s linear;
}

.style-3 {
    background: url("../img/moderno.png") no-repeat center left;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.style-3::before {
    border-radius: 3px;
    content: "";
    position: absolute;
    background: url("../img/moderno.png") no-repeat center left;
    filter: sepia(0%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    transition: filter 0.2s linear;
    transition: transform 0.2s linear;
}

.style-4 {
    background: url("../img/classico.png") no-repeat center left;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.style-4::before {
    border-radius: 3px;
    content: "";
    position: absolute;
    background: url("../img/classico.png") no-repeat center left;
    filter: sepia(0%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    transition: filter 0.2s linear;
    transition: transform 0.2s linear;
}

.style-2:hover::before,
.style-3:hover::before,
.style-4:hover::before {
    filter: sepia(50%);
    transform: scale(1.01);
}

/* Footer */
.footer {
    margin-top: 40px;
    height: 100%;
    min-height: 350px;
    background: #333;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .footer .container {
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        max-width: 960px;
    }
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.footer__info {
    padding: 15px;
}

.footer__info p {
    color: #eee;
    font-size: 17px;
    letter-spacing: 1px;
}

.social-media a {
    margin-right: 25px;
}

@media (min-width: 1200px) {
    .map {
        justify-content: start;
    }
}
